.carouselCard-container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  height: 340px;

  border-radius: 15px;

  background-color: rgb(61, 54, 54);
  background-color: rgb(163, 117, 117);
  color: white;
}