.for-background-status {
  position: relative;
  /* transition: all 0.18s ease-in-out; */
  transition: all .3s ease;
  border-radius: 8px;
}

.for-background-status:hover {
  transform: translateY(-5px);
}

.background-diagonal {
  position: absolute;
  z-index: 1;
  left: -3.7px;
  top: 25px;
  top: 27.5px;

  border-radius: 2px 2px 2px 2px;

  width: 16px;
  height: 16px;
  background-color: #348C34;
  transform: rotate(45deg);
}

/* certification card container */
.cardCertification-container {
  position: relative;
  z-index: 2;

  width: 350px;
  /* height: 215px; */

  background-color: white;
  border-radius: 8px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 6px 9px 0px rgb(222, 222, 222);

  transition: all 0.18s ease-in-out;
}

/* certification card animation */
.cardCertification-container:hover {
  background-color: #FFCA9D;
  border: 1px solid rgb(251, 84, 78, 0.2);
}

.status-container-cardCertification {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 45px;
}

.status-cardCertification{
  position: relative;
  left: -8px;

  width: min-content;
  height: min-content;
  font-family: 'Biryani', sans-serif;
  padding: 1px 10px;
  font-size: 14px;
  font-weight: bold;

  border-radius: 2px 1px 1px 2px;

  box-shadow: 0px 1px rgba(0, 0, 0, 0.095);
  /* border-bottom: 1px solid rgb(252, 252, 252); */

}

.status-cardCertification > span {
  line-height: 100%;
  color: white;
}

.cardCertification-content {
  display: flex;

  width: 350px;
  height: 200px;

  /* padding-top: 15px; */
  padding-bottom: 15px;
  padding-right: 15px;

  border-radius: 8px;

  background-color: transparent;
}

/* certification card image container */
.image-container-cardCertification {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 100%;

  /* background-color: orange; */

}


/*certification card image content */
.image-content-cardCertification {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 35px;
  height: 35px;
  
  /* background-color: green; */

  overflow: hidden;
}

/* certification card image content image */
.image-content-cardCertification > img {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

/* certification card description container */
.description-cardCertification-container {
  /* width: 370px; */
  width: 100%;
  height: 100%;
  padding-top: 5px;

  background-color: transparent;
}

/* certification card description container title */
.description-cardCertification-container > h1 {
  width: 100%;
  font-size: 1.4em;
  line-height: 100%;

  /* background-color: aqua; */
}


/* container title description of certification card description */
.description-cardCertification-container > .description {
  width: 100%;
  height: 2.7em;

  font-family: 'Roboto Slab';
  font-size: 1.05em;
  font-size: 1em;
  font-weight: 400;

  margin-top: 5px;
  margin-bottom: 10px;

  /* background-color: #0270ad; */
}


/* certification card data container */
.data-cardCertification-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;

  /* background-color: red; */
}

/* certification data title */
.data-cardCertification-container > .title {
  display: block;

  font-family: 'Roboto Slab';
  font-size: 1em;
  font-weight: 700;

  /* background-color: brown; */
}

/* certification instituation link */
.data-cardCertification-container > .name > a {
  text-decoration: none;
}

/* underline in the intituation link */
.cardCertification-container:hover .data-cardCertification-container > .institution-name > a {
  text-decoration: underline;
}

.container-btns {
  display: flex;
  justify-content: start;
  align-items: end;
}

/* credential buttom link */
.link-credential-btn, .link-view-btn {
  text-decoration: none;
}

.container-credential-btns {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: 10px;
}

/* credential buttom */
.credential-btn, .view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  width: max-content;

  padding: 4px 10px 4px 10px;
  border-radius: 20px;
  border: 1px solid #939393;
  
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.cardCertification-container:hover .credential-btn {
  border: 1px solid #595554;
}
.cardCertification-container:hover .view-btn {
  border: 1px solid #595554;
}

.cardCertification-container:hover .credential-btn:hover, 
.cardCertification-container:hover .view-btn:hover {
  color: white;
  background-color: #0270ad;

  border: 1px solid transparent;
  box-shadow: 0px 6px 9px 0px transparent;
}

.credential-btn > span {
  font-size: 1.2em;
  font-size: 1em;
  color: inherit;
}

.credential-btn > p, .view-btn > p {
  color: inherit;
  font-weight: 600;
  line-height: 100%;
}

.image-content-cardCertification > i {
  font-size: 2.3em;
}


/* modal */

.design-color-theme {
  padding-top: 12px;
  border-radius: 8px;
}

.modal-content-CardCertification {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: end;

  width: 1200px;
  height: 600px;

  background-color: white;
  border-radius: 0px 0px 8px 8px;
}

.amount-content {
  overflow-y: auto;
  width: 100%;
  background-color: transparent;
  width: 1170px;
  height: 570px;
  padding-top: 5px;
}

/* botão de sair */
.closeModal-btn {
  position: absolute;
  top: 5px;
  right: 10px;

  background-color: transparent;
  padding: 3px;
  border-radius: 50%;

  font-size: 2em;

  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.closeModal-btn:hover {
  background-color: #f0f2f5;
  color: #fb544e;
}

/* conteúdo */

.title-content-modal {
  margin-bottom: 20px;
  font-size: 2em;
  line-height: 100%;
  color: #4e4d4d;
  color: #444444;
}

.list-content-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* list-style: none; */
  padding-left: 20px;
}

.list-content-modal > li {
  font-size: 1.1em;
}