.btnFilterSlide-container{
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 100%;
  font-weight: 300;
  font-size: 11.2px;
  color: #595554;

  padding: 5px 15px 6px 15px;
  border-radius: 6px;

  border: 1px solid #e8e8e8;
  background: white;
  appearance: none;

  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;

  transition: all .2s ease;
}

.btnFilterSlide-container:focus-visible {
  outline: 3px solid rgba(251, 84, 78, 0.2);
  outline-offset: 2px;
}

.selectedMobile{
  background-color: #fb625d;
  background-color: #fb625dcd;
  font-weight: 400;
  color: white;
}
