.socialButton-link {
  text-decoration: none;
}

.socialButton-contact {
  flex-shrink: 0;
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
  height: 41px;
  padding-left: 20px;
  padding-right: 20px;
  
  border: 2px solid #e8e8e8;
  border-radius: 50px;
  
  cursor: pointer;
  
  -webkit-user-select: none;
  user-select: none;
  
  background: linear-gradient(to top, #f2f2f2, white);
  
  
  transition: all 0.1s ease-in-out;
}

.socialButton-contact:hover{
  border: 2px solid #d6d6d6;
}

.socialButton-contact  i{
  font-size: 1.5em;
  color: black;
}

.socialButton-contact .bxl-github {
  opacity: 0.8;
  transition: all 0.1s ease-in-out;
}

.socialButton-contact:hover .bxl-github {
  opacity: 1;
}

.linkedin-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0063C1;
  
  width: 20px;
  height: 20px;

  opacity: 0.8;
  border-radius: 50%;

  transition: all 0.1s ease-in-out;
}

.socialButton-contact:hover .linkedin-icon-container {
  opacity: 1;
}

.socialButton-contact .bxl-linkedin {
  color: #F3F3F3;
  font-size: 0.9em;
}

