.experienceContainer-container {
  width: 556.6px;
}

.experienceContainer-container > h2 {
  font-family: 'roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.timeline-experienceContainer {
  width: 100%;
  padding-left: 20px;
  margin-top: 20px;

  background-color: transparent;
}

@media (max-width: 370px){
  .timeline-experienceContainer{
    padding-left: 0px;
  }
}