.certifications-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9fafb;
}

.certifications-container > h1 {
  text-align: center;
  line-height: 100%;
}

.certifications-content {
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-template-rows: auto;
  gap: 20px;
  justify-content: center;

  width: 100%;

  /* background-color: blue; */
}