.certifications-container{
  background-color: #f9fafb;
  position: relative;
}

.certifications-content {
  position: relative;
  display: flex;
  flex-direction: column;
  
  color: #595554;

  width: var(--sectionWidth);
  margin: auto;
  
  padding-top: 20px;
}


.certifications-content > h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  
  text-align: center;
}

.cards-certifications-grid {
  width: 1110px;
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-rows: auto;
  gap: 20px;


  padding-top: 6px;
  padding-left: 10px;
  margin: auto;
}



.btn-container-transparentCards {
  width: fit-content;
  height: fit-content;
  transition: transform 0.18s ease-in-out;

}

.btn-container-transparentCards:hover{
  transform: scale(1.05);
}

.trasparentCards {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


/* estilos caso o botão de ver mais seja clicado */

.certifications-viewMore-false{
  overflow-y: hidden;
}

.certifications-viewMore-true{
  height: max-content;
  overflow-y: auto;
  padding-bottom: 10px;
}

.trasparentCards-viewMore-false{
  position: absolute;
  bottom: 0px;
  z-index: 5;
  height: 123px;
  background: linear-gradient(to bottom, transparent 50%, rgba(249, 250, 251, 0.855) 90%);
}

.trasparentCards-viewMore-true{
  position: static;
  height: 80px;
  background: transparent;
  margin-top: 6px;
}

.cards-certifications-grid-viwMore-false{
  height: 650px;
}

.cards-certifications-grid-viwMore-true{
  height: max-content;
}

/* media queries */

/* responsividade da largura da seção */
@media screen and (max-width: 1330px){

  .certifications-content {
    width: 95%;
  }

}

@media screen and (max-width: 1190px){
  .cards-certifications-grid {
    width: 740px;
    grid-template-columns: 350px 350px;
  }
}

@media screen and (max-width: 790px){
  .cards-certifications-grid {
    width: 370px;
    grid-template-columns: 350px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 200px;
  }
}

/* responsividade para os cards quando tiver no celular pequeno */
@media screen and (max-width: 390px){
  .cards-certifications-grid {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-right: 10px;
  }
}

@media screen and (max-width: 280px){
  .cards-certifications-grid{
    min-width: 260px;
  }
}