.contact-container{
  display: flex;
  justify-content: center;

  background-color: #f9fafb;
}

.contact-content {
  width: 70%;
  min-width: 500px;
}

.contact-content > h1 {
  text-align: start;
  margin-bottom: 40px;
  line-height: 100%;
}

/* container de inputs e social do contact */
.input-and-social-container-contact {
  display: flex;
  justify-content: center;
  gap: 30px;

  width: 100%;
}

/* FORM DOS INPUTS */
.input-and-social-container-contact > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}

/* inputs do form */
.input-and-social-container-contact > form input,
.input-and-social-container-contact > form textarea {
  /* largura e altura */
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;

  /* configurações padrões dos inpus */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;

  /* estilos adicionais */
  border: 1px solid #c6c6c69f;
  border-radius: 5px;
  -webkit-user-select: none;
  user-select: none;

  font-size: 1em;
  font-weight: 500fb;
  /* caret-color: #14a79f; */
}

/* estilo de foco de input e textarea */
.input-and-social-container-contact > form input:focus,
.input-and-social-container-contact > form textarea:focus {
  border: 1px solid #FC746F;
  outline: 2px solid rgb(252, 116, 111, 0.11);
}

/* estilo do placeholder */
.input-and-social-container-contact > form input::placeholder,
.input-and-social-container-contact > form textarea::placeholder {
  color: #abafb0;
}

/* estilo apenas para inputs */
.input-and-social-container-contact > form input {
  padding: 0px 13px 0px 13px;
}

/* estilo apenas para textarea */
.input-and-social-container-contact > form textarea{
  padding: 13px;
  resize: none;
}


/* container de todos os inputs e textareas */
.input-contact {
  width: 100%;
}

/* input name */
.name-input-contact-container{
  height: 50px;
}

/* input email */
.email-input-contact-container{
  height: 50px;
}

/* input message */
.message-input-contact-container{
  height:150px;

}

/* botão submite */
.btn-submit-form-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 40px;
  width: 150px;
  color: white;
  background-color: #fb544edd;

  border: 1px solid #c6c6c69f;
  border-radius: 5px;
  
  font-weight: bolder;
  font-size: 0.9em;
  margin-top: 10px;

  cursor: pointer;

  transition: all 0.3s ease;
}

.btn-submit-form-contact:hover {
  background-color: #fb544ee9;
  transform: scale(1.03);
}

/* CONTAINER DE SOCIAL */
.social-container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  border-radius: 5px;
  width: 40%;
  border: 1px solid #c6c6c69f;
}

/* email e whatsapp */
.social-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.social-contact > span {
  font-weight: 900;
}

/* email */
.email-social-contact > img {
  width: 20px;
}

/* whatsapp */
.whatsapp-social-contact > img {
  width: 25px;
}

/* BOTÃO DE COPIAR */

.social-contact > p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.1em;
}

/* icone de copiar */
.copy-icon-contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  font-size: 1.1em;
  
  cursor: pointer;
  
  -webkit-user-select: none;
  user-select: none;
  
  /* editando */
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #c6c6c69f;
  font-size: 0.9em;

  
}

.copy-icon-contact:hover::after{
  content: 'copiar';
  position: absolute;
  top: calc(-100% - 10px) ;

  display: flex;
  justify-content: center;
  align-items: center;


  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 0.8em;

  width: 50px;
  height: 20px;

  border: 1px solid #c6c6c69f;
  background-color: white;
  border-radius: 5px;
}

