.title-and-btns-carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.title-carousel-container {
  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  /* background-color: yellow; */
}

/* editando aqui */
.optionsSlides{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.title-carousel-container > .optionsSlides > h1 {
  font-family: Sora;
  font-size: 25px;
  line-height: 100%;
  font-weight: 600;
  cursor: pointer;
}

.optionsSlides > .selected {
  opacity: 1;
}

.optionsSlides > .notSelected {
  opacity: 0.5;
  transition: all .2s ease;
}

.optionsSlides > .notSelected:hover{
  opacity: 0.8;
}

/* fim editando aqui */

.btns-carousel-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;

  width: 40%;
  height: 100%;
  /* background-color: white; */
}

.count-cards {
  /* background-color: red; */
  font-weight: bold;
  color: #3e3d3d;
}

.btns-carousel {
  display: flex;
  gap: 10px;
  /* background-color: blue; */
}

.arrow_carousel {

  border: 2px solid #FB544E;
  border-radius: 50px;
  
  font-weight: 200;
  font-size: 1.8em;
  color: #FB544E;

  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;

  transition: transform .3s ease;
}
.arrow_carousel:hover{
  transform: scale(1.1);
}
