.home-container {
  background-color: inherit;
}

.description-image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.home-container h1 {
  line-height: 100%;

  margin-bottom: 5px;

  -webkit-user-select: none;
  user-select: none;
}

.image-container-home {
  flex-shrink: 0;

  width: 422px;
  height: 249px;
  /* width: 500px;
  height: 300px; */

  border: 2px solid #E8E8E8;
  /* border-radius: 16px; */
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0px 6px 9px 0px rgba(237,237,237,0.9);

  overflow: hidden;
}

.image-container-home > img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  /* border-radius: 10px; */

  -webkit-user-select: none;
  user-select: none;
  
}

.description-home {

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 700px;

  /* background-color: red; */
}

.curriculum-btn {
  width: max-content;
}