.home-container {
  position: relative;
  
  display: flex;
  justify-content: center;

  background-color: var(--mainColor);

  margin-top: var(--heightHeaderScroll);

  /* darkmode*/
  background-color: #272727;

}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: var(--sectionWidth);
  height: 100%;

  padding-left: 10px;
  padding-right: 10px;

  margin: auto;

  /* background-color: aqua; */
}

.home-content h1 {
  font-size: 50px;
  font-weight: 800;

  line-height: 100%;
  color: #3C3B3B;

  -webkit-user-select: none;
  user-select: none;
}

.home-content > p {
  max-width: 1100px;
  text-align: center;
  font-size: 20px;
  color: #595554;
}

.mobile-title-home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-style-highlight{
  background-image: linear-gradient(to right, #FB544E, #95322E);
  color: black;

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

@keyframes scrollDowArrow {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }

  100% {
    transform: translateY(30px);
    opacity: 1;
  }
}

.Link-skills{
  position: absolute;
  bottom: 30px;

  animation-name: scrollDowArrow;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

.arrow-scrollPageDown-home {
  font-size: 2.2em;
  
  cursor: pointer;
  
  -webkit-user-select: none;
  user-select: none;
}

/* responsividade */

@media screen and (max-width: 1330px){

  .home-content {
    width: 95%;
  }

}

@media screen and (max-width: 790px){

  .home-content > p{
    font-size: 17px;
    max-width: 500px;
  }

  #title-style-highlight{
    font-size: 43px;
  }

}

@media screen and (max-width: 460px){
  .home-content h1 {
    font-size: 40px;
  }

  #title-style-highlight{
    font-size: 33px;
  }

  .home-content > p{
    font-size: 16px;
    max-width: 500px;
  }
}

@media screen and (max-width: 380px){
  .home-content h1 {
    font-size: 35px;
  }

  #title-style-highlight{
    font-size: 28px;
  }

  .home-content > p{
    font-size: 14px;
  }
}