@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.logo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;

  -webkit-user-select: none;
  user-select: none;

  cursor: pointer;

  background-color: transparent;
}

.logo-container > h1{
  font-family: 'Playfair Display';
  color: #141414;
  color: #fb544e;
  font-size: 4em;
}

.logo-container > span {
  font-family: 'Dancing Script';
  font-size: 2em;
  font-weight: bolder;
  color: white;
  color: #544f4e;

  margin-top: -22px;
}

