:root {
  --buttomBorderPage: #d3d3d3;
}

.nav-header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  align-items: center;
  height: 41px;
}

.nav-header > .Link {
  height: 100%;
}

.nav-header .link-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

  font-weight: 500;
  
  cursor: pointer;
  
  -webkit-user-select: none;
  user-select: none;

  transition:  margin, 0.15s ease-in-out;
}

.nav-header .link-page:hover {
  color: black;
}

/* classes de animações de scrolls */
#homeAnimation, #certificationsAnimation, 
#skillsAnimation, #projectsAnimation, 
#experiencesAnimation, #contactAnimation {
  color: black;
  transform: scale(1.05);
}


#homeAnimation{

}

#certificationsAnimation{

}

#skillsAnimation{

}

#projectsAnimation{

}

#experiencesAnimation{

}

#contactAnimation{

}