:root {
  --buttomBorderPage: #d3d3d3;
}

.nav-header {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 40px;
}

.nav-header > .Link {
  height: 100%;
}

.nav-header .link-page {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  
  border-top: 3px solid var(--buttomBorderPage);
  border-radius: 10px 10px 0px 0px;
  
  cursor: pointer;
  
  -webkit-user-select: none;
  user-select: none;

  transition:  margin, 0.3s ease-in-out;
}

.nav-header .link-page:hover {
  background-color: rgba(255, 241, 227, 0.688);

  border-right: 1px solid rgba(251, 84, 78, 0.3);
  border-left: 1px solid rgba(251, 84, 78, 0.3);
  border-top: 3px solid rgba(251, 84, 78, 0.3);

  z-index: 2;
}

.nav-header .home {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);
}

.nav-header .experiences {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);
  margin-left: -1px;
}

.nav-header .projects{
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);
  margin-left: -1px;
}

.nav-header .certifications {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);
  margin-left: -1px;
}

.nav-header .skills {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);
  margin-left: -1px;
}

.nav-header .contact {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);
  margin-left: -1px;
}