.modal-container {
  position: fixed;
  z-index: 99999999999999999999999999999999999999999999999;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  padding-top: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.053);
  pointer-events: auto;
}

.modal-content {
  width: min-content;
  height: min-content;
}