.modal-container {
  position: fixed;
  z-index: 10000;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.622);
  pointer-events: auto;
}

.design-color-theme {
  padding-top: 12px;
  border-radius: 8px;
}

/* container do conteúdo do modal */
.modal-content {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: end;

  width: 1200px;
  height: 600px;

  background-color: white;
  border-radius: 0px 0px 8px 8px;
  /* padding: 15px 10px 20px 20px; */
}

.amount-content {
  overflow-y: auto;
  width: 100%;
  background-color: transparent;
  width: 1170px;
  height: 570px;
  padding-top: 5px;
}

/* botão de sair */
.closeModal-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  
  top: 5px;
  right: 10px;

  background-color: transparent;
  padding: 3px;
  border-radius: 50%;

  font-size: 2em;

  transition: all 0.1s ease-in-out;
  /* transition: all .3s ease; */

  cursor: pointer;
}

.closeModal-btn:hover {
  background-color: #f0f2f5;
  color: #fb544e;
}

/* conteúdo */

.title-content-modal {
  margin-bottom: 20px;
  font-size: 2em;
  line-height: 100%;
  color: #4e4d4d;
  color: #444444;
}

.list-content-modal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* list-style: none; */
  padding-left: 20px;
}

.list-content-modal > li {
  font-size: 1.1em;
}