.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #f9fafb;
  
}

.projects-container > h1 {
  line-height: 100%;
  margin-bottom: 40px;
}

.gitHubCalendar-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}



