.header-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--heightHeader);
  background-color: var(--mainColor);
}

.header-content {
  display: flex;
  flex-direction: column;

  width: 1300px;
  height: 100%;
  background-color: transparent;
}

.logo-and-buttons-header {
  background-color: transparent;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.btns-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  margin-top: 6px;

  /* barra de separação */
  border-right: 1px solid #e8e8e8;

}

.contact-btn > a {
  text-decoration: none;
}

.contact-btn .social-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  height: 41px;
  padding-left: 10px;
  padding-right: 10px;

  border: 2px solid #e8e8e8;
  border-radius: 10px;

  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;

  background: linear-gradient(to top, #f2f2f2, white);

  transition: all 0.1s ease-in-out;
}

.contact-btn .social-contact:hover{
  border: 2px solid #d6d6d6;
}

.contact-btn .social-contact > img {
  width: 20px;
  opacity: 0.8;
}

.contact-btn > .link-linkedin{
  margin-right: 10px;
}

.dark-mode-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 41px;

  margin-top: 6px;
  margin-left: 10px;
}

.dark-mode-content {
  display: flex;
  justify-content: start;
  align-items: center;

  padding-left: 5px;
  padding-right: 5px;

  width: 82px;
  height: 31px;


  border-radius: 20px 20px 20px 20px;
  border: 1px solid #e8e8e8;
  box-shadow: inset 0px 0px 6px #e3e3e3;
  
  cursor: pointer;
}

.circle-mode {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #e3e3e3be;

  transition: all 0.3s ease-in-out;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  font-size: 1.1em;
  
  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;

  transition: all 0.3s ease-in-out;

}

.darkMode {
  background-color: #434141;
  color: white;
  font-size: 1.1em;
}

.lightMode{
  color: darkorange;
}

.nav-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 50px;

  

  background-color: transparent;

  /* margin-bottom: 20px; */
}

.nav-header > .Link {
  height: 100%;
}

/* #e8e8e8 */
/* --buttomBorderPage: #F1FAEE;
--buttomBorderPage: #FFD166;
--buttomBorderPage: #BFD1E5;
--buttomBorderPage: #F9F9F9;
--buttomBorderPage: #1C110A;
--buttomBorderPage: var(--mainColor); */

:root {
  --buttomBorderPage: #e8e8e8;
  --buttomBorderPage: #d3d3d3;
}

.nav-header .link-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;

  border-top: 1px solid var(--buttomBorderPage);
  border-radius: 10px 10px 0px 0px;

  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;
  
}

.nav-header .link-page:hover {
  background-color: rgba(255, 241, 227, 0.688);
  /* box-shadow: 0px 10px 2px rgba(255, 241, 227, 0.653); */
}

.nav-header .home {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);

  font-weight: 600;

  transition: all 0.3s ease-in-out;

}

.nav-header .home:hover{
  margin-right: 5px;
}

.nav-header .about {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);
  margin-left: -5px;

  transition: all 0.3s ease-in-out;
}

.nav-header .about:hover{
  margin-right: 5px;
  margin-left: 5px;
}

.nav-header .experiences {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);

  transition: all 0.3s ease-in-out;
}

.nav-header .experiences:hover{
  margin-right: 5px;
  margin-left: 5px;
}

.nav-header .projects{
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);

  transition: all 0.3s ease-in-out;
}

.nav-header .projects:hover{
  margin-right: 5px;
  margin-left: 5px;
}

.nav-header .certifications {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);

  transition: all 0.3s ease-in-out;
}

.nav-header .certifications:hover{
  margin-right: 5px;
  margin-left: 5px;
}

.nav-header .skills {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);

  transition: all 0.3s ease-in-out;
}

.nav-header .skills:hover{
  margin-right: 5px;
  margin-left: 5px;
}

.nav-header .contact {
  border-left: 1px solid var(--buttomBorderPage);
  border-right: 1px solid var(--buttomBorderPage);

  transition: all 0.3s ease-in-out;
}

.nav-header .contact:hover{
  margin-left: 5px;
}