.header-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--heightHeader);
  background-color: var(--mainColor);

  padding-left: calc((100vw - 1300px) / 2 );
  padding-right: calc((100vw - 1300px) / 2 );
}

.header-content {
  display: flex;
  flex-direction: column;

  /* width: 1300px; */
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.logo-and-buttons-header {
  background-color: transparent;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.btns-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.contact-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  margin-top: 6px;
  padding-right: 10px;

  /* barra de separação */
  border-right: 1px solid #e8e8e8;
  
}