.filterCertificationsBtn-conatiner{
  position: relative;
  left: 2px;
  border-radius: 10px;
  font-size: .8em;

  width: fit-content;
  height: fit-content;

  padding: 5px 10px 5px 10px;
  
  border: 1px solid #E8E8E8;

  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;
}

.selectedFilterCertifications {
  transition: all 0.18s ease;
  color: white;
  background: linear-gradient(to top, #FB544E, #f7a9a6 80%);
}

.selectedFilterCertifications:hover {
  background: linear-gradient(to top, #d63c37, #f7a9a6);
}

.notSelectedFilterCertifications{
  background: linear-gradient(to top, #e8e7e7, white);
}

.notSelectedFilterCertifications:hover {
  background: linear-gradient(to top, #afadad7b, white);
}