.experienceCard-container {
  position: relative;

  padding-left: 35px;

  width: fit-content;
  height: fit-content;

  border-left: 2px solid #fb544eab;
  padding-bottom: 10px;

  background-color: transparent;
}

.icon-card-experience {
  position: absolute;
  left: -15px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 2px solid white;
  outline: 1px solid #e8e8e8;
  outline: 1px solid white;
  border-radius: 50%;

  background-color: #FB544E;
  color: white;

  font-size: 1.3em;

}