.experienceCard-container {
  position: relative;

  padding-left: 35px;

  width: 100%;
  height: fit-content;

  border-left: 2px solid var(--color-accent-soft);
  padding-bottom: 10px;
}

.icon-card-experience {
  position: absolute;
  left: -15px;
  top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 2px solid var(--color-surface);
  outline: 1px solid var(--color-surface);
  border-radius: 50%;

  background-color: var(--color-accent);
  color: var(--color-text-inverse);

  font-size: 1.3em;

}

@media (max-width: 370px){
  .icon-card-experience{
    display: none;
  }

  .experienceCard-container{
    border-left: none;
    padding-left: 0px;
  }
}
