.carousel-conteiner {
  position: relative;
  width: min(100%, 950px);

  /* background-color: green; */
}

.carousel-content{
  position: relative;
  width: 100%;
  /* background-color: blue; */
}
.embla {
  --slide-size: 100%;
  --slide-spacing: 10px;
}

.embla__viewport {
  overflow: hidden;
  filter: drop-shadow(3px 3px 10px var(--color-shadow-md));
}

.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

@media screen and (min-width: 691px) {
  .embla {
    --slide-size: 50%;
  }
}

@media screen and (min-width: 1021px) {
  .embla {
    --slide-size: 33.333333%;
  }
}

@media screen and (min-width: 1340px) {
  .embla {
    --slide-size: 25%;
  }
}


/* para tela mobile */

.left_arrow_change, .right_arrow_change{
  position: absolute;
  z-index: 9;
  top: 50%;

  transform: translateY(-50%)
}

.left_arrow_change{
  left: -40px;
}

.right_arrow_change{
  right: -40px;
}
