.carousel-conteiner {
  position: relative;
  width: 950px;

  /* background-color: green; */
}

.carousel-content{
  position: relative;
  width: 100%;
  /* background-color: blue; */
}
.wrapper-carousel {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  overflow-x: scroll;
  overflow-y: hidden;

  filter: drop-shadow(3px 3px 10px rgba(122, 122, 122, 0.722));

  /* configurações do scroll */
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 380px;

  /* background-color: yellow; */
}

.wrapper-carousel::-webkit-scrollbar {
  display: none;
}

.noSmooth {
  scroll-behavior: auto;
}


/* para tela mobile */

.left_arrow_change, .right_arrow_change{
  position: absolute;
  z-index: 9;
  top: 50%;

  transform: translateY(-50%)
}

.left_arrow_change{
  left: -40px;
}

.right_arrow_change{
  right: -40px;
}