.experience-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  background-color: white;
}
.experience-container > h1 {
  text-align: center;
  line-height: 100%;
  margin-bottom: 40px;
}

.experience-container > .experience-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

