.experience-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;

  background-color: white;
}

.experience-content{
  width: var(--sectionWidth);
}


.experience-container > .experience-content > h1 {
  text-align: center;
  line-height: 100%;
  margin-bottom: 40px;
}

.experience-container .experiences {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
}

@media screen and (max-width: 1330px){

  .experience-content {
    width: 95%;
  }

}

