.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* background-color: white; */
  
  
}

.projects-container > h1 {
  text-align: center;
  line-height: 100%;
  margin-bottom: 40px;
}



