.background-sidebar{
  position: fixed;
  z-index: 99999999999999999999999999999999999999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  

  width: 100vw;
  height: 100vh;
}

.sideBar-container{
  position: relative;
  left: -200px;

  height: 100%;
  width: 200px;

  background-color: #eaf0f2;
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  border: 2px solid #E8E8E8;

  transition: all 300ms ease-in-out;
}

.closeSideBar {
  position: absolute;
  right: 5px;
  top: 5px;

  font-size: 3em;
  font-weight: 400;

  padding: 3px;
  border-radius: 50%;

  transition: all 0.1s ease-in-out;
  cursor: pointer;

  -webkit-user-select: none;
  user-select: none;
}

.closeSideBar:hover {
  background-color: #f0f2f5;
  color: #fb544e;
}