.footer-container{
  width: 100%; 
  padding-left: calc((100vw - 1300px) / 2 );
  padding-right: calc((100vw - 1300px) / 2 );
  background-color: #e8ebed;
}

.footer-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  
  width: 100%;
  height: 300px;

}

.social-btns-footer{
  display: flex;
  gap: 5px;
  margin-bottom: 20px;
}

.social-btns-footer > i {
  font-size: 2em;
  border-radius: 50%;
  padding: 10px;
  color: white;
  background-color: rgb(49, 49, 49);

  cursor: pointer;
  border: 1px solid transparent;

  transition: all 0.3s ease;
}

.social-btns-footer > i:hover{
  background-color: white;
  border: 1px solid #9e9e9e;
}

.social-btns-footer > .bxl-linkedin:hover {
  color: #0077B0;
}

.social-btns-footer > .bxl-github:hover {
  color: #171515;
}

.social-btns-footer > .bxl-whatsapp:hover {
  color: #4BDC59;
}

.navigation-footer{
  display: flex;
  gap: 15px;
}

.Link-footer > span {
  font-size: 1.1em;
  font-weight: 500;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

.Link-footer > span:hover {
  color: #cd5955;
}

.author-footer{
  font-weight: 300;
}