.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #191919;
  background-color: white;
}

.skills-image-and-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  min-height: 500px;
}

.skills-image-and-content > img {
  height: 500px;
  height: 450px;
  opacity: 0.9;
}

.skills-title-and-content {
  width: 100%;
  height: min-content;
}

.skills-title-and-content > h1 {
  line-height: 100%;
  font-size: 2.5em;
  margin-bottom: 30px;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 25px;
  align-items: center;
  width: 100%;
  padding-bottom: 23px;
  height: auto;
  max-height: 440px;

  background-color: transparent;

  overflow: auto;

  background: transparent;

}