.skills-container {
  background-color: white;
}

.skills-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding-top: 50px;
  padding-bottom: 60px;

  width: var(--sectionWidth);
  margin: auto;
}


.skills-content > h1 {
  line-height: 100%;
  margin-bottom: 30px;
  /* max-width: 785px; */
}

.skills-content-content {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  max-width: 785px;
  padding-bottom: 23px;
  height: auto;

  overflow: auto;
}

@media screen and (max-width: 1330px){

  .skills-content {
    width: 95%;
  }

}