.header-container-scroll{
  position: fixed;
  top: 0px;
  z-index: 999999999999999999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: var(--heightHeaderScroll);
  background-color: var(--mainColor);

  /* padding-left: calc((100vw - 1300px) / 2 );
  padding-right: calc((100vw - 1300px) / 2 ); */

  border-bottom: 1px solid rgb(153, 153, 153);
  box-shadow: 0px 1px 6px #ccc8c8;
  border-bottom: 1px solid #e4e2e2;

  background-color: red;
}

.header-content-scroll {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: var(--sectionWidth);
  height: 100%;
  background-color: blue;

}

.logo-and-buttons-header-scroll {
  background-color: transparent;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  /* background-color: rgba(255, 255, 0, 0.292); */
}

.navHeaderAnimationBug-container-scroll {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(204, 123, 23);

  width: 610px;
  max-width: 610px;
}

.btns-header-scroll {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  height: 100%;

  background-color: green;
}

.contact-btn-scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding-right: 10px;

  /* barra de separação */
  border-right: 1px solid #e8e8e8;
}


@media screen and (max-width: 1330px){
  .header-content-scroll {
    max-width: 50%;
  }
}