.screenTransparentTabletBtn {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  border-radius: 8px;

  background-color: rgba(0, 0, 0, 0.444);
  backdrop-filter: blur(10px);

  height: 0;
  opacity: 1;
  transition: all .5s ease;

  overflow: hidden;
}

.screenTransparentTabletBtn > h1 {
  color: white;
  font-family: sora;
  font-size: 1.3em;
  margin-bottom: 5px;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.317);
}


/* botão */

.screenTransparentTabletBtn > a > button {
  padding-top: 5px;
  padding-bottom: 5px;

  width: 130px;

  background-color: #ffffff10;
  color: white;
  font-weight: 400;

  border: 2px solid #ffffff30;
  border: 1px solid #ffffff76;
  border-radius: 3px;

  transition: all .3s ease;
  cursor: pointer;

}

.screenTransparentTabletBtn > a > button:hover {
  transform: scale(1.05);
  background-color: #ffffff1d;
}


/* stacks */

.screenTransparentTabletBtn > .technologies-container {
  display: flex;
  align-items: center;

  gap: 5px;
  margin-top: 10px;

  height: fit-content;

}

.screenTransparentTabletBtn .technologies-background {
  width: fit-content;
  height: 20px;
  border-radius: 3px;
  filter: drop-shadow(0px 0px 10px rgba(76, 76, 76, 0.722));

  overflow: hidden;
}

.screenTransparentTabletBtn .technologies-background > img{
  height: 100%;
  object-fit: cover;
}