.cardExperience-container {
  display: flex;
  flex-direction: column;
  justify-content: top;
  /* height: 300px; */
  height: 100%;
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 91%);
  box-shadow: 0px 6px 9px 0px rgba(222, 222, 222, 0.235);
  background-color: #fafafb37;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  transition: all .3s ease;
}

.cardExperience-container:hover {
  transform: translateY(-5px);
  background-color: #fafafb;
}

/* data */

.date-container-cardExperience{
  margin-bottom: 15px;
}

.date-container-cardExperience > span {
  color: #fd6c67;
  font-size: 1.1em;
  font-weight: 900;
  line-height: 100%;
  text-shadow: 2px 2px 3px #cd58540d;
}


/* logo */

.logo-container-cardExperience{
  display: flex;
  align-items: center;
  gap: 10px;
  height: fit-content;
  margin-bottom: 5px;
}

.logo-container-cardExperience > img {
  height: 50px;
  width: auto;
}

.logo-container-cardExperience > span {
  font-weight: bold;
}

/* cargo */

.position-container-cardExperience {
  font-weight: 500;
  margin-bottom: 30px;
}

/* description */

.description-container-cardExperience{
  background-color: transparent;
  height: fit-content;
  font-weight: 300;
  margin-bottom: 10px;
}

/* stacks */
.stacks-container-cardExperience{
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  height: fit-content;
}