@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Roboto Slab';
  font-family: 'Open Sans', sans-serif; */
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #595554;
}

:root {
  --heightHeader: 180px;
  --heighBody: calc(100vh - var(--heightHeader));
   --mainColor: #191919;
   --mainColor: #1E1E1E;
   --mainColor: #ffffff;
   
}

/* cor padrão do título */
h1 {
  color: #4e4d4d;
  font-size: 2.2em;
}

h2 {
  color: #4e4d4d;
}

/* Barra de Rolagem */

/* trilho */
::-webkit-scrollbar{
  background-color: #f1f1f1;
  width: 5px;
  border-radius: 50px 50px 50px 50px;
}

/* scroll */
::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
  border-radius: 500px;
}

/* configuração padrão das páginas */

.defaultHome {
  padding-left: calc((100vw - 1300px) / 2 );
  padding-right: calc((100vw - 1300px) / 2 );

  height: calc(var(--heighBody));
}

.defaultPages {
  padding-left: calc((100vw - 1300px) / 2 );
  padding-right: calc((100vw - 1300px) / 2 );

  min-height: calc(var(--heighBody));

  padding-top: 40px;
  padding-bottom: 40px;
}