@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: #595554;
  ::selection {
    color: white;
    background-color: #FB544E;
  }
}

:root {
  --heightHeader: 180px;
  --heightHeaderScroll: 80px;
  --heighBody: calc(100vh - var(--heightHeaderScroll));
  --sectionWidth: 1295px;
  --mainColor: #07090e;
}

/* Light Mode #f0f0f0*/ 
.light-mode {
  --mainColor: white;
  --headerBackground: white;
  --colorTitleHome: white;

  --HeaderBox-shadow: 0px 1px 6px #ccc8c8;
  --HeaderBorder-bottom: 1px solid #e4e2e2;
  --HeadercontactBtnBorder-right: 1px solid #e8e8e8;
}

/* Dark Mode */
.dark-mode {
  --mainColor: #07090e;
  --headerBackground: #07090e;
  --colorTitleHome: black;

  --HeaderBox-shadow: 0px 1px 6px #ccc8c800;
  --HeaderBorder-bottom: 1px solid #e4e2e200;
  --HeadercontactBtnBorder-right: 1px solid #e8e8e8;
}

/* cor padrão do título */
h1 {
  position: relative;
  color: #4e4d4d;
  width: fit-content;
  font-size: 2.2em;
}

h2 {
  color: #4e4d4d;
}

/* Barra de Rolagem */

/* trilho */
::-webkit-scrollbar{
  background-color: #f1f1f1;
  width: 5px;
  border-radius: 50px 50px 50px 50px;
}

/* scroll */
::-webkit-scrollbar-thumb{
  background-color: #c1c1c1;
  border-radius: 500px;
}

/* configuração padrão das páginas */

.defaultHome {
  width: 100%;
  height: calc(var(--heighBody));
}

.defaultPages {
  height: min-content;
  padding-top: 40px;
  padding-bottom: 40px;
}

@keyframes animationTitle {
  0% {
    width: 0%;
  }
    
  100% {
    width: 100%;
  }
}

.animationTitle {
  position: absolute;
  left: 0px;
  margin: auto;
  width: 0%;
  height: 4px;
  margin-top: 7px;

  background: linear-gradient(to right, #f83029, #F8534D, transparent 75%);
  opacity: 0.8;
  border-radius: 2px;

  animation-duration: 0.9s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;

}

/*foco padrão da sidebar*/
.default-focus-sidebar{
  background-color: #FFF2E6;
}

.default-focus-sidebar > span{
  color: #FB544E;
}

/*foco padrão do header*/
.default-focus-header{
  color: black;
  transform: scale(1.05);
}